# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini

# IDEs and editor settings
.vscode/
.idea/

# Dist
dist
build